@font-face {
  font-family: 'DotGothic16';
  src: url("../font/DotGothic16-Regular.ttf") format("truetype");
}

body {
  font-family: "DotGothic16", sans-serif;
}

button{
  fill: #818181;
  flex-shrink: 0;
}