@font-face {
  font-family: 'DotGothic16';
  src: url("../font/DotGothic16-Regular.ttf") format("truetype");
}

body {
  font-family: "DotGothic16", sans-serif;
  overflow-x: hidden;
}

button{
  border-radius: 20px;
  border: 1px solid #FFF;
  background: #818181;
  width: 500px;
  color:#FFF;
}