.icon{
    text-align: center;
}
img{
   
    
     width: 300px;
     height: 200px;
    
     top: 40px;
    
    
 }
 .textbox{
    text-align: center;
    position: relative;
    top: 40px;
 }
.button{
    text-align: center;
    position: relative;
    top: 100px;
}
 button{
    
    border-top-right-radius:5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
    background-color: #818181;
    color: #FFEED5;
    height: 30px;
 }
 input{
    border-top-right-radius:5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius: 5px;
    background-color: #818181;
    color : #FFEED5


 }
 ::placeholder{
    color: rgba(255, 255, 255, 0.56);
    font-size: 15px;
}
body{
    background-color: #968067;
}
body{
    background-color: #FFEED5;
}