body {
    background-color: #FFEED5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 画面の高さいっぱいに表示 */
    margin: 0;
    flex-direction: column; /* コンテンツを縦に配置 */
}

.yoko {
    display: flex; /* 要素を横に並べる */
    align-items: center; /* 垂直方向の中央揃え */
    width: 40%; /* 40%の幅を持つ */
}

.yoko2 {
    display: flex; /* 要素を横に並べる */
    align-items: center; /* 垂直方向の中央揃え */
    width: 35%; /* 30%の幅を持つ */
}

.yoko-center {
    display: flex; /* 要素を横に並べる */
}

.text-left {
    text-align: left;
    margin-left: 10px;
}

.text-right {
    text-align: right;
    margin-right: 10px;
}

button {
    border: none;
    background: transparent;
}

.info {
    flex: 1; /* 幅を均等に分割 */
    text-align: center; /* テキストを中央揃え */
    padding: 10px; /* 必要に応じて余白を設定 */
}

.circle-icon {
    width: 100px; /* アイコンの幅を調整 */
    height: 100px; /* アイコンの高さを調整 */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* 画像を丸く切り取るために必要 */
}

.icon-img {
    width: 100%; /* 画像の幅を100%に設定 */
    height: 100%; /* 画像の高さを100%に設定 */
    object-fit: cover; /* 画像を中央に配置してクリッピング */
    border-radius: 50%; /* 丸い形状を指定 */
}

.horizontal-line {
    border-bottom: 2px solid #000; /* 黒色の実線を表示 */
    margin-bottom: 10px; /* 横線とテキストの間隔を調整 */
}

.button {
    margin-top: 50px;
}