.button-css{
    width: 100px;
    height: auto;
    flex-shrink: 0;
    background-color: #818181;
    color:white;
}

.textbox-style{
    flex-shrink: 0;
    background-color: #818181;
    width: 300px;
    height: auto;
    color:white;
}