body {
    overflow-x: hidden;
}

#ranking-area {
    overflow-y: scroll;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align:center;
}

.card-body{
    
    
    background: #818181;
}

.text-color{
    color:#FFEED5;
}

.top-rank .card-body {
    color: #FFD700; /* 上位3位までのテキスト色を変更する色を指定 */
}


