h1{
    width: px; 
font-size: 45px;
line-height: 100px;
text-align: center;
 position: relative;
top:40px;

}
p{
text-align: center;
 position: relative;
top:50px;
}
.textbox{
text-align: center;
position: relative;
top:65px;
width:100%;
}
.button{
text-align: center;
 position: relative;
top:75px;

}
body{
background-color: #FFEED5;
}
.container{
    background-color: #968067;
}