h1{
    width: px; 
font-size: 45px;
line-height: 100px;
text-align: center;
 position: relative;
top:30px;

}
p{
text-align: center;
 position: relative;
top:65px;
}
.textbox{
text-align: center;
position: relative;
top:65px;
width:100%;

}
.button{
text-align: center;
 position: relative;
top:85px;
}
input{
    background-color: #818181;
    color: #FFFFFF;
}
::placeholder{
    color: #FFFFFF;
    font-size: 15px;
}
body{
    background-color: #FFEED5;
}