.icon{
    text-align: center;
}
img{
   
    
     width: 300px;
     height: 200px;
     position: relative;
     top: 40px;
    
    
 }
 h2{
    text-align: center;
    position: relative;
    bottom: 30px;
 }
 .text{
    text-align: center;
    position: relative;
    bottom: 10px;
 }
 body{
    background-color: #968067;
 }
 body{
    background-color: #FFEED5;
 }