.icon{
    text-align: center;
}
img{
   
    
     width: 300px;
     height: 200px;
     position: relative;
     top: 40px;
    
    
 }
 .error{
    text-align: center;
    position: relative;
    top: 70px;
 }
 .enter{
   text-align: center;
   position: relative;
   top: 10px;
 }
 .button a{
   text-decoration: none;
   color: #FFEED5;
 }
 .button{
    text-align: center;
    justify-content: space-between;
   
    position: relative;
   top:50px;
 }
 .back a{
   text-decoration: none;
   color: #FFEED5;
 }
.back{
   text-align: center;
    position: relative;
  top:150px;
}
button{
   border-top-right-radius:5px;
   border-top-left-radius: 5px;
   border-bottom-left-radius:5px;
   border-bottom-right-radius: 5px;
   background-color: #818181;
   color: #FFEED5;
   height: 25px;
}
 
 body{
    background-color: 968067;
 }
 body{
    background-color: #FFEED5;
 }