.icon{
    margin: auto;
    text-align: center;
    width: 90px;
    height: 70px;
}
p{
text-align: center;
 position: relative;
top:65px;
}
.textbox{
text-align: center;
position: relative;
top:75px;
width:100%;

}
.button{
text-align: center;
 position: relative;
top:100px;
}
input{
    background-color: #818181;
    color: #FFFFFF;
}
::placeholder{
    color: #FFFFFF;
    font-size: 15px;
}
body{
    background-color: #968067;
}