body {
  overflow: hidden;
  height: 100%;
}
#task-list-contents {
  width: 85%;
  /* 左寄せ */
  margin-left: 15%;
  /* height: 801px; */
}

#task-result {
  width: 20%;
}

#button-area {
  text-align: right;
  margin-top: 20px;
  /* margin-bottom: 20px; */
}

#button-area button {
  margin: 10px;
}

#top-area {
  /* height: 15%; */
}

#task-area {
  margin-top: 2%;
  /* height: 63%; */
}

#task-area h3 {
  height: 10%;
}

/* 表示してあるタスクのスタイル */
#task-card {
  /* height: 20%; */
  border: solid 1px;
  border-radius: 7px;
  margin-top: 25px;
  padding: 4px;
}

.task-card-data { 
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
  text-align: start;
}

/* .task-title {
  margin-top: 2px;
}

.task-period {
  margin-top: 2px;
}

.complete-button {
  margin-top: 2px;
} */

/* 「今日のタスク」エリア */
#today-task-area {
  overflow-y: scroll;
  /* height: 43%; */
  margin-top: 1%;
  margin-bottom: 1%;
}

/* 「予定されたタスク」エリア */
#scheduled-task-area {
  overflow-y: scroll;
  /* height: 43%; */
  margin-top: 1%;
  margin-bottom: 1%;
}

/* 達成したタスク数など */
#task-message {
 
}

#quick-task-area {
  height: 5%;
}

/* 以下、スクロールバーのスタイル */
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: #ccc;
}
::-webkit-scrollbar-thumb{
  background-color: #818181;
}





