body {
  overflow: hidden;
  height: 100%;
}
#task-list-contents {
  width: 85%;
  /* 左寄せ */
  margin-left: 15%;
  height: 801px;
}

#button-area {
  text-align: right;
  margin-top: 20px;
  /* margin-bottom: 20px; */
}

#button-area button {
  margin: 10px;
}

#top-area {
  height: 15%;
}

#task-area {
  /* margin-top: 2%; */
  height: 63%;
}

#task-area h3 {
  height: 10%;
}

/* 「今日のタスク」エリア */
#today-task-area {
  overflow-y: scroll;
  height: 44%;
  margin-top: 0%;
  margin-bottom: 1%;
}

/* 「予定されたタスク」エリア */
#scheduled-task-area {
  overflow-y: scroll;
  height: 42%;
  margin-top: 2%;
  margin-bottom: 1%;
}

/* タスクカードのスタイル */
.task-card {
  margin-top: 10px;
  margin-bottom: 20px;
}

.complete-button {
  text-decoration: none;
}

.task-card-body {
  margin-left: 5px;
  border: 1px solid;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  padding: 5px;
  width: 500px;
}

.task-title {
  font-size: 14px;
}

.task-period {
  font-size: 14px;
}

.complete-button {
  margin-top: 7px;
}

.edit-button {
  margin-top: 7px;
}

/* 達成したタスク数など */
#task-message {
  margin-top: 2%;
  height: 5%;
}

#quick-task-area {
  height: 5%;
}

/* 以下、スクロールバーのスタイル */
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: #ccc;
}
::-webkit-scrollbar-thumb{
  background-color: #818181;
}





